<ul class="nav navbar-nav navbar-right">

    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="/Admin/Posts/">Bonjour @User.Identity.Name</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Admin">Admin</a></li>
    }
</ul>
